LINHUB_TOKEN=
LINHUB_URL=https://linhub.api.linalgo.com/v1
LINHUB_ORG=57512466-a2eb-414b-a332-ffd5486a6fb1
LINHUB_TASK=a5040509-de9c-4757-8cb3-9087b5191a2e
LINHUB_ENTITY=07a2fdef-d260-4f30-a350-8a7afc2af2a5
PKG_NAME=wsd
PJ_DIR=$PWD
COMPOSE_FILE=./docker/vanilla/compose.yml:./compose.yml
FORCE_PRE_COMMIT=true
FORCE_DOWNLOAD=true
