.venv
dist/legacy
.idea
.python-version
.env
**/*.pyc
wsd.egg-info/*

wsd/annotate/lit/dist
wsd/annotate/lit/node_modules
*.xml
*.iml
.DS_Store
wsd/annotate/lit/package-lock.json

data/*.gz
data/*.zip
